/* reset */
* {
  padding: 0;
  margin: 0;
}

/* page style */
div, body {
  font-family: Helvetica, sans-serif;
  color: seashell;
  opacity: 0.9;
}

header span {
  text-decoration: underline;
}

body {
  font-size: 22px;
  background-color: black;
  text-align: center;
}

/* header */
header {
  display: flex;
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: black;
}

.logo {
  display: flex;
  flex-grow: 1;
}

.logo img {
  margin-left: 10px;
  height: 50px;
}

nav {
  display: flex;
  margin-right: 10px;
}

nav span {
  padding: 0 15px;
}

.mobile {
  display: none;
}

a {
  color: seashell;
}

/* page body layout */
.content-container {
  position: relative;
  top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* mission section */
.mission-container {
  display: flex;
  align-items: center;
  width: 1200px;
  height: 700px;
  background: url("../images/mission-background.jpg");
}

.mission-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  width: 1200px;
  height: 100px;
}

/* featured section */
.item {
  display: flex;
  flex-flow: column nowrap;
  padding: 15px;
  padding-top: 15px;
}

.item img {
  height: 200px;
  width: 300px;
  padding-bottom: 15px;
}

.featured {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.featured-container {
  width: 1000px;
  margin-top: 70px;
}

.featured-container h2 {
  padding-bottom: 15px;
}

/* location section */
.location {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  margin: 15px 20px;
  justify-content: space-around;
  background-color: black;
  opacity: 1;
}

.location-container {
  background: url("../images/locations-background.jpg");
  display: flex;
  height: 500px;
  width: 1200px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-top: 70px;
}

.location-title {
  width: 100%;
}

/* contact section */
.contact-container {
  display: flex;
  flex-flow: column nowrap;
  height: 200px;
}

.contact-container h2 {
  margin: 10px 0 30px 0;
}

.contact-container h5 {
  margin: 15px;
}

/* footer */
footer {
  width: 100%;
  padding-left: 20px;
  text-align: left;
}

@media only screen and (max-width: 1300px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: list-item;
    background-color: seashell;
    width: 100%;
    margin-right: 0;
    padding: 1rem 0;
  }

  .mobile-list {
    display: none;
  }

  header {
    flex-flow: column;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .logo img {
    height: 100px;
    padding: 1rem 0;
  }

  a {
    text-decoration: none;
    color: black;
  }

  nav li {
    padding: .5rem;
    margin-top: .5rem;
    border-top: 1px solid black;
  }
}
